{
  "genome": {
    "node_gene_list": [],
    "connection_gene_list": [],
    "page_number": None
  },
  "mutations": {
    "mutate_link": {},
    "mutate_node": {},
    "mutate_weight_random": {},
    "mutate_weight_peterbation": {},
    "mutate_connection_status": {}
  },
  "test_gene": "Test Gene Update"
}
